/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-purple: #b388ff;
  --color-light-purple:#c7a4ff;
  --color-dark-purple: #805acb;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.navbarAndHome {
  background: url("imgs/home-background.png") center/cover no-repeat;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  align-items: center;
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-purple);
  cursor: pointer;
}

/* Home */

#home {
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-purple);
}

/* Section common */
.section {
  text-align: center;
  padding:50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.major {
  margin: 0 100px;
}

.major__icon i {
  transition: all 300ms ease;
}

.major__icon:hover i{
  color: var(--color-dark-purple);
  transform: scale(1.2);
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  border: 1px solid var(--color-dark-purple);
  color: var(--color-purple);
  border-radius: 50%;
  line-height: 170px;
  margin:auto;
  margin-bottom: 16px;
}

.major__title, .major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
  text-align: left;
}

.job img {
  width: 200px;
}

.job__description {
  margin: 0px 16px;
}

.job__name{
  color: var(--color-light-grey);
  font-size: var(--font-small);
}

.job__period {
  color: var(--color-light-grey);
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: #e7b9ff;
}

.skill {
  margin-bottom: 32px;
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  background-color: var(--color-dark-purple);
  flex: 1 1 60%;
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  
}

.skillset__right {
  flex: 1 1 40%;
  background-color: var(--color-light-purple);
}

.Tools {
  background-color: var(--color-purple);
}

.Tools h3 {
  margin: 0;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-light-purple);
}

.Tools,
.etc {
  padding: 20px;
}
